*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #778ca3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  color: black;
  font-size: 4rem;
}

p {
  margin: 50px 25px;
}

.clock {
  text-align: center;
  padding: 2rem;
}

.date {
  color: #4b6584;
  font-weight: bold;
  font-size: 4rem;
}

#toggle-btn {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border-style: none;
  background-color: #4b6584;
  color: #000;
  letter-spacing: 1px;
}

#time {
  color: #4b6584;
  font-weight: bolder;
  font-size: 12rem;
}
