@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amatic SC", cursive;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/clock.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h2 {
  color: #fff;
  font-size: 4rem;
}

p {
  margin: 50px 25px;
}

.clock {
  padding: 2rem;
}

.date {
  color: #f1c40f;
  font-weight: bold;
  font-size: 4rem;
}

#toggle-btn {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border-style: none;
  background-color: #f1c40f;
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: large;
  position: absolute;
  bottom: 0;
  right: 0;
}

#toggle-btn:hover {
  color: #f1c40f;
  background-color: #000;
}

#time {
  color: #f1c40f;
  font-weight: bolder;
  font-size: 12rem;
}
